body {
    margin: 20px;
    background-color: #FFFFFF;
    color: #1A659E;
    font-family: "Noto Sans Devanagari", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
            "wdth" 100;
}

body a {
    text-decoration: none;
    color: #1A659E;
}

a.book-link {
    color: #4A5759;
    font-size: 21px;
}

footer {
    margin-top: 40px;
    font-size: 12px;
    color: #4A5759;
}

header h1 {
    font-family: "Noto Sans Devanagari", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 40px;
    text-align: center;
    color: #4A5759;
    font-style: normal;
    font-variation-settings:
            "wdth" 100;
}    
    